body { margin: 0; height: 100vh; font-family: arial; font-size: 14px; color: #593635; line-height: 1.5; display: grid; grid-template-columns: 1fr 2fr 2fr; user-select: none; -webkit-user-select: none; }
body > div { padding: 16px; overflow: scroll; scrollbar-width: none; -ms-overflow-style: none; }
div::-webkit-scrollbar { display: none; }
.me { border-right: 1px dotted #785F63; min-width: 231px; }
.me div { display: flex; flex-direction: column; gap: 4px; }
.me span, .me li, .me a { width: fit-content; padding: 0 4px; word-break: break-all; }
.me ul { margin: 0; padding: 0; }
.me li { list-style-type: none; }
.me li::marker { content: "⁕"; }
.me a { color: inherit; }
.me a:hover { color: coral; }
.life img { width: 100%; position: relative; top: 140px; }
h2 { font-size: 16px; font-weight: 500; }
h3 { font-size: 14px; font-weight: 500; background: plum; width: fit-content; padding: 0 4px; height: 21px; }
@media screen and (max-width: 1024px) {
body { grid-template-columns: 1fr 2fr; }
.life { display: none; }
}