@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('fuentes/texgyreheros-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
    cursor: grab;
}

html, body, * {
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

body {
    -webkit-text-size-adjust: 100% !important;
    margin: 0;
    background: hsl(54, 64%, 96%) url(circulo.png);
    background-position-y: -70px;
    font-family: 'Tex Gyre Heros', sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    color: hsl(219, 80%, 26%);
    user-select: none;
    -webkit-user-select: none;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: nubes 70s linear infinite;
}

@keyframes nubes {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1920px; /* Ajusta según el ancho de tu imagen */
    }
}

.sol {
    color: hsl(54, 88%, 70%);
}
.cielo {
    color: hsl(219, 79%, 56%);
}
.flor {
    color: hsl(302, 59%, 65%);
}

header {
    position: fixed;
    width: -webkit-fill-available;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4px;
}

.informacion {
    min-width: 0;
}

.informacion, .tabla {
    -webkit-text-size-adjust: 100% !important;
}

.locacion {
    margin-left: auto;
    padding: 2px 10px;
    background: hsla(54, 88%, 70%, 0.5);
    color: hsl(147, 50%, 42%);
    border-radius: 50%;
}

.comunicacion {
    color: hsla(219, 80%, 26%, .5);
}

.comunicacion .correo {
    color: hsl(219, 80%, 26%);
}

a:hover {
    text-decoration: underline wavy;
}

button {
    background: hsla(0, 0%, 100%, 0.6);
    border: 1px dotted lightsteelblue;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: hsl(0, 0%, 100%);
}

.informacion button {
    aspect-ratio: 1;
}

div#yo {
    color: hsl(219, 80%, 26%);
    background: hsla(0, 0%, 100%, 0.8);
    border: 1px dotted lightsteelblue;
    padding: 16px;
    margin-top: 28vh;
}

div#yo .contenedor {
    display: flex;
    align-items: center;
    gap: 16px;
}

div#yo img {
    border-radius: 24px;
    width: 60px;
}

div#yo .texto {
    display: grid;
    margin: 0;
}

div#yo b {
    color: hsl(302, 59%, 65%);
}

main {
    margin-top: auto;
    width: calc(100vw - 16px);
    padding: 8px;
}

.tabla details, .tabla details:not([open]) {
    width: 100%;
    background: hsla(54, 64%, 96%, 0.6);
}

.tabla details summary, .tabla > div {
    border-top: 1px dotted lightsteelblue;
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tabla details summary:hover {
    cursor: pointer;
}

.tabla details:open {
    background: hsla(0, 0%, 100%, 0.6);
}

.tabla details:hover, .tabla .details:active {
    background: hsla(0, 0%, 100%, 0.8);
}

.tiempo {
    padding-right: 1ch;
}

details p {
    max-width: 68ch;
    margin: 0;    
    padding: 0 16px 16px 16px;
    color: hsla(219, 80%, 26%, .8);
}

summary {
  list-style: none;
}

summary::marker {
  content: "";
}

summary::-webkit-details-marker {
  display: none;
}

.lugar::before {
    content: "\23F9\FE0E";
    font-family: 'Tex Gyre Heros', sans-serif;
    font-variant-emoji: text;
}

.cd .lugar::before {
    color: gray;
}

.sh .lugar::before {
    color: sandybrown;
}

.ph .lugar::before {
    color: indigo;
}

.dh .lugar::before {
    color: hsl(219, 79%, 56%);
}

.ee .lugar::before {
    color: orchid;
}

@media (max-width: 667px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .locacion {
        margin-left: 0 !important;
        align-self: flex-start;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    body {
        font-size: 14px !important;
    }
}
