@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('fuentes/texgyreheros-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Heros Cn';
  src: url('fuentes/texgyreheroscn-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
    cursor: grab;
}

body {
    font-variant-emoji: text;
    margin: 0;
    background: hsl(54, 64%, 96%);
    font-family: 'Tex Gyre Heros', sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    color: hsl(219, 80%, 26%);
    user-select: none;
    -webkit-user-select: none;
}

.sol {
    color: hsl(54, 88%, 70%);
}

.cielo {
    color: hsl(219, 79%, 56%);
}
.flor {
    color: hsl(302, 59%, 65%);
}

header {
    padding: 8px;
}

.informacion {
    position: absolute;
}

.locacion {
    width: fit-content;
    padding: 2px 10px;
    background: hsla(54, 88%, 70%, 0.5);
    color: hsl(147, 50%, 42%);;
    border-radius: 50%;
}

.comunicacion {
    color: hsla(219, 80%, 26%, .5);
}

.comunicacion .correo {
    color: hsl(219, 80%, 26%);
}

main {
    display: flex;
    width: stretch;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 8px;
}

.tabla details summary, .tabla > div {
    border-top: 1px dotted lightsteelblue;
    padding: 8px 0;
    width: 100%;
}

.tabla details summary:hover {
    background: hsla(0, 0%, 100%, 0.3);
    filter: blur(.5px);
    cursor: pointer;
}

.derecha {
    float: right;
}

details p {
    max-width: 75ch;
    margin: 0 0 16px 0;
}

summary::marker {
    content: none;
}

.P .punto {
    color: orchid;
}

.A .punto {
    color: hsl(219, 79%, 56%);
}

.I .punto {
    color: indigo;
}

.S .punto {
    color: sandybrown;
}

.J .punto {
    color: gray;
}

@media screen and (max-width: 667px) {
    header .derecha, .comunicacion .derecha {
        float: none;
    }

    .comunicacion {
        display: grid;
    }

    .informacion {
        position: unset;
    }
}
